@font-face {
  font-family: 'austie_bost_wibbly-webfont';
  src: url('../fonts/austie_bost_wibbly-webfont.ttf') format('truetype'), url('../fonts/austie_bost_wibbly-webfont.woff2') format('woff2'), url('../fonts/austie_bost_wibbly-webfont.woff') format('woff'), url('../fonts/austie_bost_wibbly-webfont.eot') format('embedded-opentype');
  /* Add other formats as you see fit */
}
span {
  font-family: 'austie_bost_wibbly-webfont';
  font-size: 36px;
}
