body {
  font-size: 14px;
  font-family: 微软雅黑;
  color: #fff;
}
div#app {
  background: #aaf;
  color: #fff;
  width: 400px;
  height: 400px;
}
div#app div {
  background: #ffa;
  width: 200px;
  height: 200px;
}
